body {
    background-color: #36405b;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto Condensed', sans-serif;
    color: #83c6fd;
}

font1 {
    font-size: 40px;
    color: #83c6fd;
}

header {
  opacity: 0;
  animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

font2 {
    float: center;
    font-size: 40px;
    background-color: #0f141b;
    padding-top: 20px;
    padding-bottom: 245px;
    padding-left: 590px;
    padding-right: 590px;
}

table {
    background-color: #0f141b;
}